.custom-logo{
    width: 200px;
    height: 150px;
    
}
#masthead{
    background-color: #A03C78;
    width: 100%;
}
.page_item a{
    color: white;
}
.menu-toggle{
    opacity: 0;
}
.menu-new-menu-container a{
    color: white;
}
.site-footer{
    background-color: #A03C78;
    color: white;
    height: 40px;
    text-align: center;
    margin-top: 20px;
}
.entry-title{
    text-align: center;
}
.wp-image-76{
    width: 1200px;
    height: 500px;
}
.wp-block-column{
    margin-left: 80px;
    margin-top: 40px;
}
.wp-image-101{
    width: 200px;
    height: 300px;
    margin-top: -10px;
}
.wp-image-34{
    width: 200px;
    height: 300px;
}
.wp-image-30{
    width: 200px;
    height: 300px;
}
#fresh-for-summer{
    margin-left: 50px;
}
.wp-image-67{
    margin-left: 50px;
    width: 1300px;
    height: 700px;
}
#our-story{
    margin-left: 50px;
}
.has-medium-font-size{
    margin-left: 50px;
    margin-right: 60px;
}
#our-mission{
    margin-left: 50px;
}
.wp-image-23{
    margin-right: -50px;
}
.wp-image-203{
    margin-left: 130px;
}
.wp-image-181{
    height: 490px;
}
.wp-image-182{
    height: 500px;
}
.site-footer{
    height: 200px;
}
